In [228]:
import pandas as pd
from pandas_summary import DataFrameSummary
import os
from helper import *

In [229]:
PATH='Data/'

## Item preprocessing

In [230]:
df_item = pd.read_csv(PATH + 'item.csv', sep='|', encoding = "ISO-8859-1")

In [231]:
display(df_item.head())
display(DataFrameSummary(df_item).summary())

,movieId,movieTitle,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

,movieId,movieTitle,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,1682.000000,NaN,NaN,0.0,NaN,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,...,1682.00000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000
mean,841.500000,NaN,NaN,NaN,NaN,0.001189,0.149227,0.080262,0.024970,0.072533,...,0.01308,0.014269,0.054697,0.033294,0.036266,0.146849,0.060048,0.149227,0.042212,0.016052
std,485.695893,NaN,NaN,NaN,NaN,0.034473,0.356418,0.271779,0.156081,0.259445,...,0.11365,0.118632,0.227455,0.179456,0.187008,0.354061,0.237646,0.356418,0.201131,0.125714
min,1.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,421.250000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,841.500000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1261.750000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1682.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
counts,1682,1682,1681,0,1679,1682,1682,1682,1682,1682,...,1682,1682,1682,1682,1682,1682,1682,1682,1682,1682
uniques,1682,1664,240,0,1660,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
missing,0,0,1,1682,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0.06%,100%,0.18%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,categorical,categorical,numeric,categorical,bool,bool,bool,bool,bool,...,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool

In [232]:
display('df_item',get_missing_columns(df_item))

'df_item'

['release date', 'video release date', 'IMDb URL']

In [233]:
df_item[df_item['release date'].isna()]

,movieId,movieTitle,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
266,267,unknown,NaN,NaN,NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [234]:
# Limpio las URL de la Data, no la utilizo
df_item=df_item.drop(labels='IMDb URL',axis=1)

In [235]:
# Completo los release dates nulos con la media de estrenos
df_item.loc[df_item['release date'].isna(),['release date']] = pd.to_datetime(df_item['release date']).mean()

In [236]:
# Elimino la columna de video release date porque estÃ¡n todas en null
df_item=df_item.drop(labels='video release date',axis=1)

In [237]:
display('df_item',get_missing_columns(df_item))

'df_item'

[]

In [238]:
display(df_item.head())
display(DataFrameSummary(df_item).summary())

,movieId,movieTitle,release date,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

,movieId,movieTitle,release date,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,1682.000000,NaN,NaN,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,...,1682.00000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000
mean,841.500000,NaN,NaN,0.001189,0.149227,0.080262,0.024970,0.072533,0.300238,0.064804,...,0.01308,0.014269,0.054697,0.033294,0.036266,0.146849,0.060048,0.149227,0.042212,0.016052
std,485.695893,NaN,NaN,0.034473,0.356418,0.271779,0.156081,0.259445,0.458498,0.246253,...,0.11365,0.118632,0.227455,0.179456,0.187008,0.354061,0.237646,0.356418,0.201131,0.125714
min,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,421.250000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,841.500000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1261.750000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1682.000000,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
counts,1682,1682,1682,1682,1682,1682,1682,1682,1682,1682,...,1682,1682,1682,1682,1682,1682,1682,1682,1682,1682
uniques,1682,1664,241,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
missing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,categorical,categorical,bool,bool,bool,bool,bool,bool,bool,...,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool

### Peliculas repetidas?

In [239]:
df_item[df_item.duplicated(subset=['movieTitle'])]

,movieId,movieTitle,release date,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
267,268,Chasing Amy (1997),01-Jan-1997,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
302,303,Ulee's Gold (1997),01-Jan-1997,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
347,348,Desperate Measures (1998),30-Jan-1998,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
499,500,Fly Away Home (1996),13-Sep-1996,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
669,670,Body Snatchers (1993),01-Jan-1993,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,0,0
679,680,Kull the Conqueror (1997),29-Aug-1997,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
864,865,"Ice Storm, The (1997)",01-Jan-1997,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
880,881,Money Talks (1997),22-Aug-1997,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1002,1003,That Darn Cat! (1997),14-Feb-1997,0,0,0,0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
1256,1257,"Designated Mourner, The (1997)",23-May-1997,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1605,1606,Deceiver (1997),01-Jan-1997,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1606,1607,Hurricane Streets (1998),01-Jan-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1616,1617,Hugo Pool (1997),01-Jan-1997,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1624,1625,Nightwatch (1997),22-Apr-1997,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1649,1650,"Butcher Boy, The (1998)",01-Jan-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1653,1654,Chairman of the Board (1998),01-Jan-1998,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1657,1658,"Substance of Fire, The (1996)",06-Dec-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [240]:
df_item[df_item['movieTitle']=='Desperate Measures (1998)'].T

                                    328                        347
movieId                             329                        348
movieTitle    Desperate Measures (1998)  Desperate Measures (1998)
release date                30-Jan-1998                30-Jan-1998
unknown                               0                          0
Action                                0                          0
Adventure                             0                          0
Animation                             0                          0
Children's                            0                          0
Comedy                                0                          0
Crime                                 1                          1
Documentary                           0                          0
Drama                                 1                          1
Fantasy                               0                          0
Film-Noir                             0                          0
Horror                                0                          0
Musical                               0                          0
Mystery                               0                          0
Romance                               0                          0
Sci-Fi                                0                          0
Thriller                              1                          1
War                                   0                          0
Western                               0                          0

In [241]:
df_item[df_item.duplicated(subset=['movieTitle'])==True].sort_values(by='movieTitle').T

,669,1649,1653,267,1605,1256,347,499,1616,1606,864,679,880,1624,1679,1657,1002,302
movieId,670,1650,1654,268,1606,1257,348,500,1617,1607,865,680,881,1625,1680,1658,1003,303
movieTitle,Body Snatchers (1993),"Butcher Boy, The (1998)",Chairman of the Board (1998),Chasing Amy (1997),Deceiver (1997),"Designated Mourner, The (1997)",Desperate Measures (1998),Fly Away Home (1996),Hugo Pool (1997),Hurricane Streets (1998),"Ice Storm, The (1997)",Kull the Conqueror (1997),Money Talks (1997),Nightwatch (1997),Sliding Doors (1998),"Substance of Fire, The (1996)",That Darn Cat! (1997),Ulee's Gold (1997)
release date,01-Jan-1993,01-Jan-1998,01-Jan-1998,01-Jan-1997,01-Jan-1997,23-May-1997,30-Jan-1998,13-Sep-1996,01-Jan-1997,01-Jan-1998,01-Jan-1997,29-Aug-1997,22-Aug-1997,22-Apr-1997,01-Jan-1998,06-Dec-1996,14-Feb-1997,01-Jan-1997
unknown,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Action,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
Adventure,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
Animation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Children's,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
Comedy,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
Crime,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
Documentary,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Drama,0,1,0,1,0,1,1,0,0,1,1,0,0,0,1,1,0,1
Fantasy,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Film-Noir,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Horror,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Musical,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Mystery,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
Romance,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0
Sci-Fi,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Thriller,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
War,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [242]:
df_item[df_item.drop('movieId',axis=1).duplicated()].sort_values(by='movieTitle').T

,669,1649,1653,267,1605,1256,347,499,1616,1606,864,679,880,1624,1679,1657,1002,302
movieId,670,1650,1654,268,1606,1257,348,500,1617,1607,865,680,881,1625,1680,1658,1003,303
movieTitle,Body Snatchers (1993),"Butcher Boy, The (1998)",Chairman of the Board (1998),Chasing Amy (1997),Deceiver (1997),"Designated Mourner, The (1997)",Desperate Measures (1998),Fly Away Home (1996),Hugo Pool (1997),Hurricane Streets (1998),"Ice Storm, The (1997)",Kull the Conqueror (1997),Money Talks (1997),Nightwatch (1997),Sliding Doors (1998),"Substance of Fire, The (1996)",That Darn Cat! (1997),Ulee's Gold (1997)
release date,01-Jan-1993,01-Jan-1998,01-Jan-1998,01-Jan-1997,01-Jan-1997,23-May-1997,30-Jan-1998,13-Sep-1996,01-Jan-1997,01-Jan-1998,01-Jan-1997,29-Aug-1997,22-Aug-1997,22-Apr-1997,01-Jan-1998,06-Dec-1996,14-Feb-1997,01-Jan-1997
unknown,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Action,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
Adventure,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
Animation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Children's,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
Comedy,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
Crime,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
Documentary,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Drama,0,1,0,1,0,1,1,0,0,1,1,0,0,0,1,1,0,1
Fantasy,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Film-Noir,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Horror,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Musical,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Mystery,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
Romance,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0
Sci-Fi,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Thriller,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
War,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [243]:
# Hay que eliminar las peliculas duplicadas y modificar train y test

df_item_rep = df_item[df_item.drop('movieId',axis=1).duplicated()].sort_values(by='movieTitle')
item_rep_list = df_item_rep['movieTitle']

df_train = pd.read_csv(PATH + 'train.csv', sep='\t')
df_test = pd.read_csv(PATH + 'test.csv', sep=',')

In [244]:
for title in item_rep_list:
    item_rep_ids_list = df_item[df_item['movieTitle']==title]['movieId']
    first_id = item_rep_ids_list.iloc[0]
    cmodificados=0
    for item_id in item_rep_ids_list:
        if(item_id!=first_id):
            df_train.loc[df_train['movieId']==item_id, 'movieId'] = first_id
            df_test.loc[df_test['movieId']==item_id, 'movieId'] = first_id
            cmodificados = cmodificados + 1 
    print('Id duplicado: '+str(first_id)+', Modificados: ' + str(item_rep_ids_list))

Id duplicado: 573, Modificados: 572    573
669    670
Name: movieId, dtype: int64
Id duplicado: 1645, Modificados: 1644    1645
1649    1650
Name: movieId, dtype: int64
Id duplicado: 1234, Modificados: 1233    1234
1653    1654
Name: movieId, dtype: int64
Id duplicado: 246, Modificados: 245    246
267    268
Name: movieId, dtype: int64
Id duplicado: 309, Modificados: 308      309
1605    1606
Name: movieId, dtype: int64
Id duplicado: 1256, Modificados: 1255    1256
1256    1257
Name: movieId, dtype: int64
Id duplicado: 329, Modificados: 328    329
347    348
Name: movieId, dtype: int64
Id duplicado: 304, Modificados: 303    304
499    500
Name: movieId, dtype: int64
Id duplicado: 1175, Modificados: 1174    1175
1616    1617
Name: movieId, dtype: int64
Id duplicado: 1395, Modificados: 1394    1395
1606    1607
Name: movieId, dtype: int64
Id duplicado: 305, Modificados: 304    305
864    865
Name: movieId, dtype: int64
Id duplicado: 266, Modificados: 265    266
679    680
Name: movieId, dtype: int64
Id duplicado: 876, Modificados: 875    876
880    881
Name: movieId, dtype: int64
Id duplicado: 1477, Modificados: 1476    1477
1624    1625
Name: movieId, dtype: int64
Id duplicado: 1429, Modificados: 1428    1429
1679    1680
Name: movieId, dtype: int64
Id duplicado: 711, Modificados: 710      711
1657    1658
Name: movieId, dtype: int64
Id duplicado: 878, Modificados: 877      878
1002    1003
Name: movieId, dtype: int64
Id duplicado: 297, Modificados: 296    297
302    303
Name: movieId, dtype: int64

In [245]:
df_train[df_train['movieId']==670]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

### Join item con train/test

In [246]:
df_item.columns

Index(['movieId', 'movieTitle', 'release date', 'unknown', 'Action',
       'Adventure', 'Animation', 'Children's', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'],
      dtype='object')

In [247]:
df_train.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [248]:
df_train_joined = join_df(df_train,df_item,'movieId')

In [249]:
df_test_joined = join_df(df_test,df_item,'movieId')

In [250]:
set(df_train_joined.columns)-set(df_test_joined)

{'timestamp'}

In [251]:
# Elimino el timestamp de train
df_train_joined = df_train_joined.drop('timestamp',axis=1)

In [252]:
set(df_train_joined.columns)-set(df_test_joined)

set()

In [253]:
display(df_train_joined)

,userId,movieId,rating,movieTitle,release date,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,5,Toy Story (1995),01-Jan-1995,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2,3,GoldenEye (1995),01-Jan-1995,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,3,4,Four Rooms (1995),01-Jan-1995,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,4,3,Get Shorty (1995),01-Jan-1995,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,5,3,Copycat (1995),01-Jan-1995,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,943,1067,2,Bottle Rocket (1996),21-Feb-1996,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79996,943,1074,4,Reality Bites (1994),01-Jan-1994,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79997,943,1188,3,Young Guns II (1990),01-Jan-1990,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
79998,943,1228,3,Under Siege 2: Dark Territory (1995),01-Jan-1995,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79999,943,1330,3,An Unforgettable Summer (1994),01-Jan-1994,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [254]:
DataFrameSummary(df_train_joined).summary().loc[['uniques', 'types', 'missing']].T

             uniques        types missing
userId           943      numeric       0
movieId         1633      numeric       0
rating             5      numeric       0
movieTitle      1633  categorical       0
release date     237  categorical       0
unknown            2         bool       0
Action             2         bool       0
Adventure          2         bool       0
Animation          2         bool       0
Children's         2         bool       0
Comedy             2         bool       0
Crime              2         bool       0
Documentary        2         bool       0
Drama              2         bool       0
Fantasy            2         bool       0
Film-Noir          2         bool       0
Horror             2         bool       0
Musical            2         bool       0
Mystery            2         bool       0
Romance            2         bool       0
Sci-Fi             2         bool       0
Thriller           2         bool       0
War                2         bool       0
Western            2         bool       0

### User Processing

In [255]:
df_user = pd.read_csv(PATH + 'user.csv', sep = '|')
df_occupation = pd.read_csv(PATH + 'occupation.csv', sep = '\t')

In [256]:
display(df_user)

     user id  age gender     occupation zip code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [257]:
display(df_occupation)

    administrator
0          artist
1          doctor
2        educator
3        engineer
4   entertainment
5       executive
6      healthcare
7       homemaker
8          lawyer
9       librarian
10      marketing
11           none
12          other
13     programmer
14        retired
15       salesman
16      scientist
17        student
18     technician
19         writer

In [258]:
df_user.columns

Index(['user id', 'age', 'gender', 'occupation', 'zip code'], dtype='object')

In [259]:
df_train_joined = join_df(df_train_joined,df_user,'userId','user id')

In [260]:
display(DataFrameSummary(df_train_joined).summary())

,userId,movieId,rating,movieTitle,release date,unknown,Action,Adventure,Animation,Children's,...,Romance,Sci-Fi,Thriller,War,Western,user id,age,gender,occupation,zip code
count,80000.00000,80000.000000,80000.000000,NaN,NaN,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,...,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.00000,80000.000000,NaN,NaN,NaN
mean,525.16570,425.177800,3.528350,NaN,NaN,0.000037,0.257075,0.139137,0.036163,0.072237,...,0.194337,0.128013,0.217975,0.095162,0.018500,525.16570,32.826838,NaN,NaN,NaN
std,255.94956,331.097575,1.118565,NaN,NaN,0.006124,0.437024,0.346092,0.186695,0.258882,...,0.395692,0.334106,0.412873,0.293441,0.134752,255.94956,11.584327,NaN,NaN,NaN
min,1.00000,1.000000,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,7.000000,NaN,NaN,NaN
25%,334.00000,175.000000,3.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,334.00000,24.000000,NaN,NaN,NaN
50%,535.00000,321.000000,4.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,535.00000,30.000000,NaN,NaN,NaN
75%,744.00000,629.000000,4.000000,NaN,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,744.00000,40.000000,NaN,NaN,NaN
max,943.00000,1682.000000,5.000000,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,943.00000,73.000000,NaN,NaN,NaN
counts,80000,80000,80000,80000,80000,80000,80000,80000,80000,80000,...,80000,80000,80000,80000,80000,80000,80000,80000,80000,80000
uniques,943,1633,5,1633,237,2,2,2,2,2,...,2,2,2,2,2,943,61,2,21,795
missing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,numeric,categorical,categorical,bool,bool,bool,bool,bool,...,bool,bool,bool,bool,bool,numeric,numeric,bool,categorical,categorical

In [261]:
df_train_joined = df_train_joined.drop('user id', axis=1)

In [262]:
df_test_joined = join_df(df_test_joined, df_user,'userId', 'user id')

In [263]:
df_test_joined = df_test_joined.drop('user id', axis=1)

In [264]:
display(df_test_joined)

,Id,userId,movieId,rating,movieTitle,release date,unknown,Action,Adventure,Animation,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,zip code
0,0,1,6,3,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,0,0,0,0,...,0,0,0,0,0,0,24,M,technician,85711
1,1,1,10,3,Richard III (1995),22-Jan-1996,0,0,0,0,...,0,0,0,0,1,0,24,M,technician,85711
2,2,1,12,3,"Usual Suspects, The (1995)",14-Aug-1995,0,0,0,0,...,0,0,0,1,0,0,24,M,technician,85711
3,3,1,14,2,"Postino, Il (1994)",01-Jan-1994,0,0,0,0,...,0,1,0,0,0,0,24,M,technician,85711
4,4,1,17,4,From Dusk Till Dawn (1996),05-Feb-1996,0,1,0,0,...,0,0,0,1,0,0,24,M,technician,85711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,458,648,0,"Quiet Man, The (1952)",01-Jan-1952,0,0,0,0,...,0,1,0,0,0,0,47,M,technician,Y1A6B
19996,19996,458,1101,0,Six Degrees of Separation (1993),01-Jan-1993,0,0,0,0,...,1,0,0,0,0,0,47,M,technician,Y1A6B
19997,19997,459,934,2,"Preacher's Wife, The (1996)",13-Dec-1996,0,0,0,0,...,0,0,0,0,0,0,22,M,student,29201
19998,19998,460,10,0,Richard III (1995),22-Jan-1996,0,0,0,0,...,0,0,0,0,1,0,44,F,other,60630
19999,19999,462,682,0,I Know What You Did Last Summer (1997),17-Oct-1997,0,0,0,0,...,1,0,0,1,0,0,19,F,student,02918

### Normalizo columnas

In [265]:
# Elimino la columna movieTitle
df_train_joined = df_train_joined.drop('movieTitle', axis=1)
df_test_joined = df_test_joined.drop('movieTitle', axis=1)

#### Transformo las fechas

In [266]:
def add_datepart(df):
    df['release date'] = pd.to_datetime(df['release date'])
    df["Year"] = df['release date'].dt.year
    df["Month"] = df['release date'].dt.month
    df["Week"] = df['release date'].dt.week
    df["Day"] = df['release date'].dt.day

In [267]:
add_datepart(df_train_joined)

<ipython-input-266-25ee700e6de2>:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df["Week"] = df['release date'].dt.week

In [268]:
df_train_joined = df_train_joined.drop('release date', axis=1)

In [269]:
display(df_train_joined)

,userId,movieId,rating,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,War,Western,age,gender,occupation,zip code,Year,Month,Week,Day
0,1,1,5,0,0,0,1,1,1,0,...,0,0,24,M,technician,85711,1995,1,52,1
1,1,2,3,0,1,1,0,0,0,0,...,0,0,24,M,technician,85711,1995,1,52,1
2,1,3,4,0,0,0,0,0,0,0,...,0,0,24,M,technician,85711,1995,1,52,1
3,1,4,3,0,1,0,0,0,1,0,...,0,0,24,M,technician,85711,1995,1,52,1
4,1,5,3,0,0,0,0,0,0,1,...,0,0,24,M,technician,85711,1995,1,52,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,943,1067,2,0,0,0,0,0,1,0,...,0,0,22,M,student,77841,1996,2,8,21
79996,943,1074,4,0,0,0,0,0,1,0,...,0,0,22,M,student,77841,1994,1,52,1
79997,943,1188,3,0,1,0,0,0,1,0,...,0,1,22,M,student,77841,1990,1,1,1
79998,943,1228,3,0,1,0,0,0,0,0,...,0,0,22,M,student,77841,1995,1,52,1
79999,943,1330,3,0,0,0,0,0,0,0,...,0,0,22,M,student,77841,1994,1,52,1

In [270]:
add_datepart(df_test_joined)

<ipython-input-266-25ee700e6de2>:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df["Week"] = df['release date'].dt.week

In [271]:
df_test_joined = df_test_joined.drop('release date', axis=1)
df_test_joined = df_test_joined.drop('Id', axis=1)

In [272]:
display(df_test_joined)

,userId,movieId,rating,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,War,Western,age,gender,occupation,zip code,Year,Month,Week,Day
0,1,6,3,0,0,0,0,0,0,0,...,0,0,24,M,technician,85711,1995,1,52,1
1,1,10,3,0,0,0,0,0,0,0,...,1,0,24,M,technician,85711,1996,1,4,22
2,1,12,3,0,0,0,0,0,0,1,...,0,0,24,M,technician,85711,1995,8,33,14
3,1,14,2,0,0,0,0,0,0,0,...,0,0,24,M,technician,85711,1994,1,52,1
4,1,17,4,0,1,0,0,0,1,1,...,0,0,24,M,technician,85711,1996,2,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,458,648,0,0,0,0,0,0,1,0,...,0,0,47,M,technician,Y1A6B,1952,1,1,1
19996,458,1101,0,0,0,0,0,0,0,0,...,0,0,47,M,technician,Y1A6B,1993,1,53,1
19997,459,934,2,0,0,0,0,0,0,0,...,0,0,22,M,student,29201,1996,12,50,13
19998,460,10,0,0,0,0,0,0,0,0,...,1,0,44,F,other,60630,1996,1,4,22
19999,462,682,0,0,0,0,0,0,0,0,...,0,0,19,F,student,02918,1997,10,42,17

In [280]:
df_train_joined.rename(columns={"Children\'s": "Children"},inplace=True)
df_test_joined.rename(columns={"Children\'s": "Children"},inplace=True)
df_train_joined.rename(columns={"zip code": "ZipCode"},inplace=True)
df_test_joined.rename(columns={"zip code": "ZipCode"},inplace=True)

In [281]:
df_train_joined.to_feather('preprocessed_train.fth')

In [282]:
df_test_joined.to_feather('preprocessed_test.fth')